html,body {
    background-color: #fab600;
}

img.logo {
    display : inline ;
    max-height : 200px;
    max-width: 75%;
    height: auto;

    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #483210;
}


.box {

    text-align: center;
    background-color: #f5f5f5;
   

    border-radius: 3%;
    box-shadow: 2px 2px 2px 2px #483210;
}