body {
    min-height: 100vh;
}
/* SIDEBAR POSITION */
.sidebar {
    z-index: 1000;
    background-color: #fab600;
    height: 100vh;
    position: fixed;
    left: -276px;
    padding: 0;

    min-width: 275px;

    list-style: none;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar__content li {
    text-indent: 20px;
    line-height: 30px;
}
    
.sidebar__content li a {
    display: block;
    text-decoration: none;
    color: #102648;
}

.sidebar__content li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
    
.sidebar__content li a:active, .sidebar__content li a:focus {
    text-decoration: none;
}
    
.sidebar__content>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
    
.sidebar__content>.sidebar-brand a {
    color: #102648;
}
    
.sidebar__content>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* SIDEBAR HIDDEN STATE */
.sidebar[aria-hidden="true"] {
    transform: translateX(-100%);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* SIDEBAR VISIBLE STATE */
.sidebar:not([aria-hidden]),
.sidebar[aria-hidden="false"] {
    transform: translateX(100%);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
  
h5 {
    line-height: 30px !important;
}
  
.arrow {
    text-indent: 5px !important;
}

#page {
    padding-right: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.4s ease;
}

#page.active {
    padding-left: 250px;
}

#page.active #sidebar {
    left: 250px;
}

.page-content {
    width: 100%;
    position: absolute;
    padding: 15px;

}

#page.active .page-content {
    position: absolute;
    margin-right: 0px;  
}

#sidebar_loader{
    display:none;
}


@media(min-width:768px) {
    #page {
        padding-right: 0;
    }
    #page.active {
        padding-left: 275px;
    }

    .page-content {
        padding: 20px;
        position: relative;
    }
    #page.active .page-content {
        position: relative;
        margin-right: 0;
    }
}